@using OgrenciBilgiSistemi.Models
@model List<DersHavuzu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öğrenci Bilgi Sistemi</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- DataTables CSS ve JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Clipboard.js kütüphanesi -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

    <!-- SheetJS kütüphanesi -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

    <!-- jsPDF kütüphanesi -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="path-to-your-scripts-folder/FileSaver.min.js"></script>

</head>
<body>
    <div class="container">
        <br />
        <h1>Öğrenci Ders Kayıt</h1>
        <br />
        <button id="copyButton" class="btn btn-secondary">Kopyala</button>
        <button id="exportExcelButton" class="btn btn-success">Excele Aktar</button>
        <button id="exportPdfButton" class="btn btn-info">PDF'e Aktar</button>
        <br />
        <br />
        <table class="table table-bordered" id="myTable">
            <thead>
                <tr>
                    @if (User.IsInRole("Öğrenci"))
                    {
                        <th>#</th>
                        <th>Ders Kodu</th>
                        <th>Ders Adı</th>
                        <th>Teorik(T)</th>
                        <th>Uygulama(U)</th>
                        <th>Kredi(K)</th>
                        <th>ECTS</th>
                        <th>İşlem</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (User.IsInRole("Öğrenci"))
                        {
                            <td>@item.DersID</td>
                            <td>@item.DersKodu</td>
                            <td>@item.DersAdi</td>
                            <td>@item.Teorik</td>
                            <td>@item.Uygulama</td>
                            <td>@item.Kredi</td>
                            <td>@item.ECTS</td>
                            <td>
                                @Html.ActionLink("Ekle", "EkleOgrenci", new { id = item.DersKodu }, new { @class = "btn btn-primary", onclick = "return confirm('Güncellemek istiyor musunuz?')" })
                                @Html.ActionLink("Çıkar", "CikarOgrenci", new { id = item.DersID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyor musunuz?')" })
                                @Html.ActionLink("Onayla", "EkleOgrenci", new { id = item.DersKodu }, new { @class = "btn btn-success", onclick = "return confirm('Güncellemek istiyor musunuz?')" })
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        <!-- JavaScript -->
        <script>
            $(document).ready(function () {
                // DataTables initialization
                var dataTable = $('#myTable').DataTable({
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tümü"]],
                    "pageLength": 10,
                    "searching": true // Arama özelliğini etkinleştirir
                });

                // Copy button
                var copy = new ClipboardJS('#copyButton', {
                    target: function (trigger) {
                        return document.querySelector('.table');
                    }
                });

                // Export to Excel button
                $('#exportExcelButton').on('click', function () {
                    exportToExcel();
                });

                // Export to PDF button
                $('#exportPdfButton').on('click', function () {
                    exportToPDF();
                });

                // Copy button success message
                copy.on('success', function (e) {
                    alert('Tablo kopyalandı!');
                });

                // Exports the table to Excel
                function exportToExcel() {
                    var table = document.querySelector('.table');
                    var wb = XLSX.utils.table_to_book(table, { sheet: "Sheet1" });
                    var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'blob' });

                    saveAs(wbout, 'tablo.xlsx');
                }

                // Exports the table to PDF
                function exportToPDF() {
                    var table = document.querySelector('.table');
                    var pdf = new jsPDF('p', 'pt', 'letter');
                    pdf.autoTable({ html: table });
                    pdf.save('tablo.pdf');
                }
            });
        </script>
    </div>
</body>
</html>
