@using OgrenciBilgiSistemi.Models
@model List<DersHavuzu>

@{
    ViewBag.Title = "Öğrenci Ders Onaylama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öğrenci Ders Onaylama</h2>

<!-- Öğretim elemanının verdiği ders listesi -->
<h4>Öğretim Elemanının Verdiği Dersler</h4>
<ul>
    @foreach (var ders in Model.SelectMany(bolum => bolum.Mufredat.Select(mufredat => mufredat.DersHavuzu)).Distinct())
    {
        <li>@ders.DersKodu - @ders.DersAdi</li>
    }
</ul>

<!-- İlgili dersi alan öğrenci bilgileri (liste olarak) -->
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Ders Kodu</th>
            <th>Ders Adı</th>
            <th>Ders Türü</th>
            <th>Uygulama(U)</th>
            <th>Kredi(K)</th>
            <th>ECTS</th>
            <th>Öğrenci Adı</th>
            <th>Öğrenci Soyadı</th>
            <th>Öğrenci Numarası</th>
            <th>Öğrenci Durumu</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bolum in Model)
        {

            string OnayDurumu = "Bekliyor";

            foreach (var ogrenci in bolum.Mufredat.SelectMany(mufredat => mufredat.Bolum.Ogrenci))
            {


                foreach (var ders in Model.SelectMany(bolum => bolum.Mufredat.Select(mufredat => mufredat.DersHavuzu)).Distinct())
                {
                    <tr>
                        <td>@ders.DersID</td>

                        <td>@ders.DersKodu</td>
                        <td>@ders.DersAdi</td>
                        <td>@ders.DersTuru</td>
                        <td>@ders.Uygulama</td>
                        <td>@ders.Kredi</td>
                        <td>@ders.ECTS</td>
                        <td>@ogrenci.Adi</td>
                        <td>@ogrenci.Soyadi</td>
                        <td>@ogrenci.OgrenciNo</td>
                        <td>@ogrenci.Durumu</td>

                        <td>

                            <!-- Seçilen öğrenciye ait ders bilgileri -->
                            <button class="btn btn-success" onclick="Onayla(@ogrenci.OgrenciID, @ders.DersID)">Onayla</button>
                            <button class="btn btn-primary" onclick="Beklet(@ogrenci.OgrenciID, @ders.DersID)">Beklet</button>
                            <button class="btn btn-danger" onclick="Reddet(@ogrenci.OgrenciID, @ders.DersID)">Reddet</button>


                        </td>

                    </tr>
                }
            }

        }
    </tbody>
</table>




<script>
    function Onayla(ogrenciId, dersId) {
        performAction(ogrenciId, dersId, 'Onayla');
    }

    function Beklet(ogrenciId, dersId) {
        performAction(ogrenciId, dersId, 'Beklet');
    }

    function Reddet(ogrenciId, dersId) {
        performAction(ogrenciId, dersId, 'Reddet');
    }

    function performAction(ogrenciId, dersId, action) {
        // TODO: Perform the action (Onayla/Beklet/Reddet) on the server side
        $.ajax({
            type: 'POST',
            url: '/Ogrenci/PerformAction', // Update the URL accordingly
            data: { ogrenciId: ogrenciId, dersId: dersId, action: action },
            success: function (result) {
                // Refresh the page or update UI as needed
                location.reload();
            },
            error: function (error) {
                console.error(action + ' hatası: ', error);
                alert('Öğrenci ' + action.toLowerCase() + ' işleminde bir hata oluştu!');
            }
        });
    }
</script>
