
@{
    ViewBag.Title = "GuncelleOgrenci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("GuncelleOgrenci", "KullaniciBilgi", FormMethod.Post))
{
    <div class="container">
        <div class="container">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Öğrenci No</label>
                    <input type="text" name="Ad" class="form-control" value="@Model.OgrenciNo" />
                </div>

                <div class="form-group">
                    <label>Durumu</label>
                    <input type="text" name="Ad" class="form-control" value="@Model.Durumu" />
                </div>

                <div class="form-group">
                    <label>Kayıt Tarihi</label>
                    <input type="text" name="Ad" class="form-control" value="@Model.KayitTarihi" />
                </div>

                <div class="form-group">
                    <label>Ayrılma Tarihi</label>
                    <input type="text" name="Ad" class="form-control" value="@Model.AyrilmaTarihi" />
                </div>

                <div class="form-group">
                    <label>Adı</label>
                    <input type="text" name="Ad" class="form-control" value="@Model.Adi" />
                </div>

                <div class="form-group">
                    <label>Soyadı</label>
                    <input type="text" name="Ad" class="form-control" value="@Model.Soyadi" />
                </div>

                <div class="form-group">
                    <label>TC Kimlik No</label>
                    <input type="text" name="Ad" class="form-control" value="@Model.TCKimlikNo" />
                </div>

                <div class="form-group">
                    <label>Cinsiyet</label>
                    <input type="text" name="Ad" class="form-control" value="@Model.Cinsiyet" />
                </div>

                <div class="form-group">
                    <label>Dogum Tarihi</label>
                    <input type="text" name="Ad" class="form-control" value="@Model.DogumTarihi" />
                </div>
                <button class="btn btn-primary" type="submit">Güncelle</button>
                <a href="/KullaniciBilgi/IndexOgrenci"


            </div>
        </div>

    </div>
}

